<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988893100767-917tg81s9v8rgd3fnc4idscv3tdh2r32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988893100767-917tg81s9v8rgd3fnc4idscv3tdh2r32</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ0Pw8Z90S2pzl7qCKlpu1T5taK_Wi4gk</string>
	<key>GCM_SENDER_ID</key>
	<string>988893100767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstoneProject</string>
	<key>PROJECT_ID</key>
	<string>capstone-project-54b64</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-project-54b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988893100767:ios:506aa83f210072f67a076a</string>
</dict>
</plist>